.soon-block {
	position: relative;
	z-index: 1;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	min-height: 481px;
	padding: 20px 0;

	@include media('>=tablet') {
		min-height: 500px;
	}

	.container {
		margin-bottom: 50px;
		@include media('>=tablet') {
			margin-bottom: 150px;
		}
	}

	.soon-logo {
		position: relative;
		z-index: 1;
		display: block;
		margin: 0 auto 30px;
		padding: 65px 0;
		max-width: 280px;

		@include media('>=tablet') {
			padding: 100px 0;
			max-width: 400px;
		}

		.seed {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			z-index: -1;
			width: 162px;

			@include media('>=tablet') {
				width: 242px;
			}

			img {
				max-width: none;
				width: 100%;
			}
		}
	}

	h1 {
		margin-bottom: 30px;

		@include media('>=tablet') {
			max-width: 737px;
			margin: 0 auto 50px;
		}

		@include media('>=desktop') {
			margin-bottom: 98px;
		}
	}

	.bg {

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
			mix-blend-mode: hard-light;
			background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(39, 39, 39, 0.7));
		}
	}
}

.logo-list {
	@extend %listreset;
	margin-bottom: -20px;
	
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 -5px -20px;
	}

	@include media('>=desktop') {
		margin: 0 -21px -20px;
	}

	li {
		margin-bottom: 30px;
		
		@include media('>=tablet') {
			padding: 0 5px;
		}

		@include media('>=desktop') {
			padding:  0 21px;
		}
	}

	a {

		&:hover {
			opacity: 0.8;
		}
	}
}

.circle-list {
	@extend %listreset;
	display: none;
	padding: 30px 0;
	margin-bottom: -10px;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		padding: 45px 0;
		max-width: 1024px;
		width: 100%;
		margin: 0 auto -10px;
	}

	&.visible-xs {
		@include media('<tablet') {
			display: block;
		}
	}

	li {
		margin-bottom: 10px;
		
		@include media('>=tablet') {
			width: 33.33%;
		}
	}

	.circle {
		background: $white;
		@include size(232px);
		border-radius: 50%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
		padding: 20px;
		margin: 0 auto;

		@include media('>=desktop') {
			padding: 20px 30px;
		}

		div {
			width: 100%;
		}

		&.gray {
			background: rgba(230, 230, 230, 0.2);
		}
	}

	.circle-title {
		font-size: 20px;
		margin: 0 0 9px;
		display: block;
		font-weight: 600;
	}
}

.two-column {
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}
}

.content {
	@include media('>=tablet') {
		flex: 1;
		padding-left: 30px;
	}

	@include media('>=desktop') {
		padding-left: 50px;
	}

	@include media('>=widescreen') {
		padding-left: 144px;
	}
}

.sidebar {
	margin: 0 0 19px;

	@include media('>=tablet') {
		width: 152px;
		flex-basis: 152px;
		text-align: center;
	}

	.title {
		display: none;

		@include media('>=tablet') {
			display: block;
			font-size: 18px;
			font-weight: 500;
			color: #433a3a;
			margin-bottom: 25px;
		}
	}
}

.section {
	padding: 20px 20px;
	background: url(/static/images/bg1.png);

	@include media('>=tablet') {
		padding: 40px 20px;
	}

	@include media('>=desktop') {
		padding: 65px 20px;
	}

	@include media('>=widescreen') {
		padding: 65px 60px;
	}
}

select {
	width: 100%;
}

.side-holder {
	position: relative;

	&:before {
		width: 20px;
		content: '';
		background: $white;
		position: absolute;
		right: 1px;
		top: 1px;
		bottom: 1px;
		pointer-events:none;

		@include media('>=tablet') {
			display: none;
		}
	}

	&:after {
		@extend .icon-angle-down:before;
		font: 13px/1 icomoon;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 19px;
		color: $red;
		pointer-events:none;

		@include media('>=tablet') {
			display: none;
		}
	}

	.side-list {
		@extend %listreset;
		
		@include media('<tablet') {
			position: absolute;
			left: 0;
			top: 0;	
			opacity: 0;
			visibility: hidden;
		}

		li {
			margin-bottom: 10px;

			&.active {
				a {
					background-color: rgba(255, 255, 255, 0.6);
					border-color: $red;
				}
			}
		}

		a {
			border-left: 3px solid transparent;
			display: block;
			padding: 16px 15px;
			color: $red;

			&:hover {
				background-color: rgba(255, 255, 255, 0.6);
				border-color: $red;
			}
		}
	}

	select {
		height: 45px;
		padding: 2px 13px;
		padding-right: 30px;

		@include media('>=tablet') {
			display: none;
		}
	}
}

.posts {

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
}

.post-holder {
	margin: 0 0 25px;

	@include media('>=tablet') {
		width: 50%;
		padding: 0 10px;
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
	}

	@include media('>=desktop') {
		width: 33.33%;
		padding: 0 12px;
		margin-bottom: 22px;
	}
}

.post {
	background: $white;
	color: $black;
	display: block;

	@include media('>=tablet') {
		width: 100%;
	}

	&:hover {
		color: lighten($black,30%);
	}

	.img {
		position: relative;
		z-index: 1;
		display: block;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			background-image: linear-gradient(to bottom, rgba(39, 39, 39, 0.5) 10%, rgba(17, 17, 17, 0) 69%);
		}
	}

	img {
		max-width: none;
		width: 100%;
	}

	.text {
		padding: 11px 18px;
	}

	.title {
		font-weight: 600;
		font-size: 16px;
		margin: 0 0 4px;
		display: block;
	}

	p {
		margin: 0;
	}
}

.winner-block {
	background: $gold;
	padding: 61px 45px 0;
	font-size: 18px;
	letter-spacing: 1.13px;
	line-height: 1.444;

	@include media('>=tablet') {
		padding: 20px 15px 0;
		width: 100%;
	}

	@include media('>=desktop') {
		font-size: 22px;
		line-height: 1.455;
	}

	@include media('>=widescreen') {
		padding: 48px 61px 0;
	}

	h2 {
		letter-spacing: 3px;
		margin: 0 0 20px;
	}

	.img {
		margin-left: -45px;
		max-width: 260px;
		padding-top: 5px;

		@include media('>=tablet') {
			max-width: none;
			margin-left: -15px;
		}

		@include media('>=widescreen') {
			margin-left: -61px;
		}
	}

	.text {
		@include media('>=desktop') {
			max-width: 380px;
		}
	}
}

.half-block {
	background: $red;
	color: $white;
	width: 100%;
	position: relative;
	z-index: 1;

	@include media('>=tablet') {
		height: 50%;
	}

	&.half-text {
		padding: 77px 47px 44px;
		font-size: 18px;
		line-height: 1.44;
		letter-spacing: 1.13px;
		display: flex;
		flex-wrap: wrap;


		@include media('>=tablet') {
			padding: 20px 15px;
		}

		@include media('>=desktop') {
			font-size: 22px;
			line-height: 1.455;
		}

		@include media('>=widescreen') {
			padding: 80px 55px;
		}

	}

	.horizantal-txt {
		order: 2;
		display: block;
		font-size: 32px;
		line-height: 1.375;
		width: 32px;

		@include media('>=tablet') {
			order: -1;
		}
	}

	.text {
		flex: 1;
		padding-right: 40px;

		@include media('>=tablet') {
			padding-left: 40px;
			padding-right: 0;
		}

		@include media('>=widescreen') {
			padding-left: 81px;
			padding-right: 40px;
		}
	}


	.btn-wrap {
		padding-top: 66px;

		@include media('>=tablet') {
			padding-top: 23px;
		}
	}

	.btn {
		@include media('<tablet') {
			min-width: 0;
			display: block;
		}
	}

	.bg {
		@include media('<tablet') {
			min-height: 242px;
			width: 100%;
			position: static;
		}
	}

	.btn-circle {
		position: absolute;
		right: 31px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.btn-circle {
	background: $red;
	color: $white;
	@include size(74px);
	border-radius: 50px;
	line-height: 70px;
	font-size: 74px;
	display: block;

	&:hover {
		background: darken($red,10%);
	}
}


.news-block {
	background: $white;
	padding: 30px 20px;

	@include media('>=tablet') {
		padding: 58px 20px;
	}

	@include media('>=widescreen') {
		padding: 64px 60px;
	}

	h2 {
		margin: 0 0 17px;
		text-align: center;

		@include media('>=desktop') {
			margin: 0 0 36px;
		}
	}
}

.news-list {
	@extend %listreset;
	margin: 0 0 30px;

	@include media('>=desktop') {
		font-size: 20px;
	}

	time {
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1.14px;
		letter-spacing: 2.63px;
		display: block;

		@include media('>=tablet') {
			font-size: 20px;
			width: 160px;
			flex-basis: 160px;
			letter-spacing: 3.75px;
		}

		
	}

	.txt {
		@include media('>=tablet') {
			display: block;
			flex: 1;
			padding-left: 28px;
		}
	}

	a {
		color: #433a3a;
		display: block;
		position: relative;
		padding: 24px 0;
		border-top: 1px solid $black;
		padding-right: 31px;

		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
		}

		@include media('>=desktop') {
			padding-right: 80px;
			letter-spacing: 3.75px;
		}

		&:before {
			@extend .icon-half-arrow:before;
			font: 4px/1 icomoon;
			color: $red;
			right: 0;
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			@include animate(right);

			@include media('>=desktop') {
				font-size: 7px;
				right: 20px;
			}
		}

		&:hover {
			&:before {
				right: -10px;

				@include media('>=desktop') {
					right: 10px;
				}
			}
		}
	}
}

.info-block {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

.red-block {
	padding: 0;
}

.row {
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}

	.col {
		@include media('>=tablet') {
			width: 50%;
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.breadcrumbs-holder {
	padding: 16px 20px;

	@include media('>=widescreen') {
		padding: 22px 55px 39px;
	}

	.breadcrumbs {
		margin: 0;
	}
}

.breadcrumbs {
	@extend %listreset;
	display: flex;
	font-size: 14px;
	letter-spacing: 2px;
	flex-wrap: wrap;
	color:#f2f2f2;
	margin: 0 -9px 20px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: -4px;
		top: 0;
		background: $white;
		z-index: 2;
		bottom: 0;
		width: 9px;
	}

	@include media('>=desktop') {
		margin-bottom: 66px;
	}

	li {
		padding: 0 9px;
		position: relative;


		+ li:before {
			@extend .icon-angle-right:before;
			font: 8px/1 icomoon;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	a {
		color:#f2f2f2;

		&:hover {
			color: $black;
		}
	} 

	&.black {
		color: #656565;

		a {
			color: #656565;

			&:hover {
				color: $black;
			}
		}
	}
}

#header {
	+ #main {
		padding-top: 79px;

		@include media('>=tablet') {
			padding-top: 87px;
		}

		@include media('>=widescreen') {
			padding-top: 100px;
		}
	}
}

.visual-block {
	padding: 20px 20px;
	color: $white;

	@include media('>=widescreen') {
		padding: 21px 65px 67px;
	}

	.heading {
		text-align: center;
		margin-bottom: 30px;
		
		@include media('>=tablet') {
			margin: 0;
			width: 180px;
			flex-basis: 180px;
		}

		@include media('>=desktop') {
			width: 269px;
			flex-basis: 269px;
		}
	}


	.heading-wrap {
		width: 78px;
		margin: 0 auto  30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	&.visual-black {
		color: $black;
	}

	h3 {
		font-size: 22px;
		margin: 0 0 20px;

		@include media('>=desktop') {
			font-size: 22px;
			margin: 0 0 24px;
		}
	}

	.img {
		margin: 0 -20px 20px;

		@include media('>=tablet') {
			margin: 0 -20px 20px 0;
		}

		@include media('>=desktop') {
			margin: 0 -20px 40px 0;
		}

		@include media('>=widescreen') {
			margin: 0 -65px 50px 0;
		}

		img {
			@include media('<tablet') {
				max-width: none;
				width: 100%;
			}
		}
	}
}

.visual-holder {
	font-size: 18px;
	line-height: 1.889;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}

	@include media('>=desktop') {
		line-height: 1.889;
	}

	.text {
		@include media('>=tablet') {
			flex: 1;
			padding-left: 15px;
		}

		@include media('>=desktop') {
			padding-left: 30px;
		}

		&.text-md {
			@include media('>=tablet') {
				max-width: 790px;
			}
		}
	}

	p {
		@include media('>=desktop') {
			margin: 0 0 35px;
		}
	}
}

.vertical-text {
	font-size: 32px;
	line-height: 1.38;
	letter-spacing: 6px;
	display: block;
	text-align: center;
	width: 36px;
	margin-right: 20px;

	@include media('>=desktop') {
		margin-right: 26px;
	}

	&.white {
		color: $white;
	}

}

.vertical-yellow-txt {
	width: 16px;
	font-size: 14px;
	line-height: 1.3;
	margin-top: 14px;
	min-height: 269px;
	background: #ffe61a;
	display: block;
}



.circle-block {
	background: $white;

	.circle-list {

		@include media('>=tablet') {
			max-width: 1210px;
		}
	}
}

.gold-block {
	background: $gold;
	padding: 30px 20px;

	@include media('>=desktop') {
		padding: 42px 20px;
	}

	@include media('>=widescreen') {
		padding: 42px 60px;
	}
}

.award-list {
	@extend %listreset;
	text-align: center;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -10px -15px;
	}

	li {
		margin-bottom: 15px;


		@include media('>=tablet') {
			width: 33.33%;
			padding: 0 10px;
		}
	}

	.img {
		border: 1px solid $white;
		@include size(80px);
		border-radius: 50%;
		
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 20px;
		margin: 0 auto 20px;
	}

	.title {
		color: $white;
		font-size: 18px;
		font-weight: 700;

		a {
			color: $white;

			&:hover {
				color: $red;
			}
		}
	}
}

.visual {
	@include v-align(181px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: $white;
	position: relative;
	z-index: 1;

	&:before {
		content: '';
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0.6) 95%);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}

	.visual-wrap {
		padding: 20px 0;
	}
}

.pagination {
	@extend %listreset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 -5px;


	li {
		padding: 0 5px;
	}

	a {
		width: 40px;
		border: 1px solid $red;
		background: $white;
		display: block;
		height: 40px;
		line-height: 40px;
		color: $red;
		text-align: center;

		&:hover {
			background: $red;
			color: $white;
		}

		&.disabled,
		&:disabled {
			pointer-events: none;
			border-color: #d2d2d2;
			color: #d2d2d2;
		}

		&.first {
			.icon-angle-left {

				&:before {
					margin-right: -2px;
				}

				&:after {
					@extend .icon-angle-left:before;
					margin-left: -2px;
				}
			}
		}

		&.last {
			.icon-angle-right {

				&:before {
					margin-right: -2px;
				}

				&:after {
					margin-left: -2px;
					@extend .icon-angle-right:before;
				}
			}
		}
	}
}

.main-content {

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}


	.aside {
		order: -1;

		@include media('>=tablet') {
			width: 210px;
			flex-basis: 210px;
		}
	}

	.contents {
		flex: 1;

		@include media('>=tablet') {
			padding-left: 15px;
		}

		@include media('>=widescreen') {
			padding-left: 87px;
		}

		@include media('>=desktop') {
			font-size: 18px;
			line-height: 1.889;
		}

		p {
			@include media('>=desktop') {
				margin: 0 0 33px;
			}
		}
	}
}


.content-block {
	padding: 30px 20px;


	@include media('>=desktop') {
		padding: 22px 20px;
	}

	@include media('>=widescreen') {
		padding: 22px 63px 57px;
	}

	dl {
		margin: 0;

		dt {
			color: #656565;
			font-size: 14px;
			margin: 0 0 4px;
		}
	}


	dd {
		font-size: 18px;
		margin: 0 0 24px;
	}

	.breadcrumbs {
		color: #646464;

		a {
			color: #646464;

			&:hover {
				color: $red;
			}
		}
	}

	h1 {
		@include media('>=desktop') {
			font-size: 32px;
			margin: 0 0 24px;
		}
	}
}



.heading-block {
	margin-bottom: 30px;
}

.unstyle-list {
	@extend %listreset;
	margin-bottom: 1em;

	@include media('>=desktop') {
		margin-bottom: 34px;
	}
}

.box {
	border: 1px solid #d5d4d6;
	padding: 20px;
	font-size: 14px;
	line-height: 26px;

	@include media('>=desktop') {
		padding: 36px 27px 12px;
		font-size: 14px;
		line-height: 26px;
	}

	@include media('>=widescreen') {
		margin-top: 75px;
	}

	h2 {
		font-size: 22px;

		@include media('>=desktop') {
			font-size: 22px;
			margin: 0 0 26px;
		}
	}

	p {
		margin: 0 0 1em;

		@include media('>=desktop') {
			margin: 0 0 1em;
		}
	}
}

.blog-list {
	@extend %listreset;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px 15px;
	}

	@include media('>=desktop') {
		margin: 0 -12px 20px;
	}

	> li {

		margin: 0 0 24px;

		@include media('>=tablet') {
			width: 50%;
			padding: 0 5px;
			margin-bottom: 10px;
		}

		@include media('>=desktop') {
			padding: 0 12px;
			margin-bottom: 24px;
		}

	}

	.text {
		padding: 12px 19px;

	}
}

.blog {
	background: $black;
	color: $white;
	line-height: 1.8;
	font-size: 14px;
	dl {
		margin: 0;
		color: rgba(255, 255, 255, 0.66);
	}

	dt {
		margin: 0 0 -3px;
	}

	dd {
		margin: 0 0 7px;
	}


	.blog-img {
		position: relative;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom, rgba(39, 39, 39, 0), rgba(17, 17, 17, 0.4));
		}
	}

	.time {
		display: block;
		font-size: 24px;
		letter-spacing: 2.5px;
		line-height: 1.3;
		margin: 0 0 4px;

		time {
			margin-right: 13px;
			font-size: 40px;
		}
	}

	.text-wrap {
		padding-right: 90px;
	}

	.text {
		position: relative;
	}
}

.detail-list {
	@extend %listreset;
	font-weight: 700;
	line-height: 1.5;
	font-size: 14px;
	margin: 0 0 15px;

	li {
		margin:  0 0 5px;
	}
}

.btn-signup {
	position: absolute;
	right: 23px;
	top: 25px;
	@include size(86px);
	text-align: center;
	font-size: 16px;
	line-height: 66px;
	border-radius: 50%;
	border: 1px solid $white;
	color: $white;

	&:before {
		@extend .icon-half-arrow:before;
		font: 6px/1 icomoon;
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		text-align: center;
	}

	&:hover {
		background: $white;
		color: $black;
	}

}

.dash-list {
	@extend %listreset;
	font-size: 18px;
	line-height: 1.556;

	li {
		position: relative;
		margin: 0 0 28px;
		padding-left: 45px;

		@include media('>=desktop') {
			margin: 0 0 6px;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 14px;
			background: $black;
			height: 1px;
			width: 27px;
		}
	}
}

.small-heading {
	font-size: 24px;

	@include media('>=desktop') {
		font-size: 24px;
	}
}


.btn-back {
	color: $red;
	display:inline-block;
	vertical-align:top;
	position: relative;
	padding-left: 40px;
	font-size: 18px;
	font-weight: 700;

	&:before {
		@extend .icon-half-arrow:before;
		position: absolute;
		font: 5px/1 icomoon;
		top: 50%;
		left: 0;
		transform: translateY(-50%) rotate(180deg) scale(1,-1);
	}

	&:hover {
		color: $black;
	}
}

.slider {
	.text {
		background: #414141;
		color: $white;
		padding: 28px 20px 18px;
	}

	dl {
		line-height: 1.8;
		font-size: 14px;
		margin: 0;
		color: rgba(255, 255, 255, 0.66);
		margin: 0 0 31px;
	}

	dt {
		margin: 0 0 -3px;
	}

	dd {
		margin: 0 0 20px;
		font-size: 18px;

		@include media('>=desktop') {
			margin: 0 0 6px;
		}
	}

	h1 {
		font-size: 28px;
		line-height: 1.571;
		line-height: 1.57;
		margin: 0 0 11px;

		@include media('>=desktop') {
			font-size: 32px;
			line-height: 1.313;
			margin: 0 0 20px;
		}
	}

	.txt-info {
		font-size: 18px;
		line-height: 1.444;
		display: block;
		margin: 0 0 41px;

		@include media('>=desktop') {
			font-size: 22px;
			line-height: 26px;
			margin: 0 0 20px;
		}
	}

	.img {
		height: 229px;
		position: relative;
		z-index: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		@include media('>=tablet') {
			position: absolute;
			right: 0;
			width: 50%;
			top: 0;
			height: auto;
			bottom: 0;
		}

		@include media('>=desktop') {
			width: 66.4%;
		}

		&:before {
			content: '';
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0.6) 95%);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
		}

		.caption {
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			color: $white;
			text-align: right;
			padding: 16px 13px;
			font-size: 14px;

			@include media('>=desktop') {
				padding: 26px 28px;
			}
		}
	}

	.slide {

		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
		}

		.text {
			@include media('>=tablet') {
				width: 50%;
			}

			@include media('>=desktop') {
				width: 33.6%;
			}

			@include media('>=widescreen') {
				padding: 32px 44px 28px 63px;
			}
		}
	}
}

.slick-dots {
	@extend %listreset;
	position: absolute;
	bottom: 260px;
	right: 30px;

	@include media('>=tablet') {
		bottom: 20px;
		left: calc(50% - 20px);
	}

	@include media('>=desktop') {
		left: calc(33.6% - 28px);
		bottom: 17px;
	}

	li {
		padding-top: 6px;

		&.slick-active {
			button {
				background: $white;
			}
		}
	}

	button {
		font-size:0;
		line-height:0;
		background: none;
		padding: 0;
		display: block;
		margin: 0;
		border: none;
		@include size(8px);
		border-radius: 50%;
		outline: none;
		background: #646464;

		&:hover {
			background: $white;
		}
	}
}

.two-col {
	padding: 33px 20px;
	font-size: 18px;
	line-height: 1.889;

	@include media('>=desktop') {
		padding: 37px 20px;
		display: flex;
		flex-wrap: wrap;
	}

	@include media('>=widescreen') {
		padding: 37px 65px;
	}

	h3 {
		font-size: 22px;
		margin: 0 0 20px;
	}
}



.col-content {

	@include media('>=desktop') {
		width: 68.2%;
		padding-right: 30px;
	}

	@include media('>=widescreen') {
		padding-right: 130px;
		padding-top: 31px;
	}


	p {
		margin: 0 0 34px;
	}

	.video-holder {
		margin: 0 auto 44px;
	}
}

.col-sidebar {
	@include media('>=desktop') {
		width: 31.8%;
	}

	.box {
		margin: 0;
	}
}

.cols {

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
	}


	img {
		max-width: none;
		width: 100%;
	}

	.col {
		position: relative;

		@include media('>=tablet') {
			width: 50%;
		}

		&.red {
			background: $red;
			color: $white;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding: 20px 20px;

			@include media('>=widescreen') {
				justify-content: flex-start;
				padding: 20px 66px;
			}

			.text {
				width: 160px;
				margin-right: 15px;
			}
		}

		h2 {
			font-size: 32px;
			margin: 0;
		}

		.btn-signup {
			position: relative;
			left: auto;
			top: auto;
			bottom: auto;
			right: auto;

			@include media('<tablet') {
				display:inline-block;
				vertical-align:top;
				@include size(72px);
				line-height: 56px;
				font-size: 12px;

				&:before {
					bottom: 21px;
					font-size: 5px;
				}
			}
		}
	}
}

.gold-wrap {
	padding: 40px 0;

	@include media('>=375px') {
		padding: 40px 28px;
	}

	@include media('>=tablet') {
		margin: 0 auto;
		padding: 0;
		max-width: 775px;
	}

	h2 {
		font-size: 32px;
		text-align: center;
		margin: 0 0 23px;

		@include media('>=tablet') {
			text-align: left;
		}
	}
}

.mobile-list {
	@extend %listreset;
	position: fixed;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);

	@include media('>=tablet') {
		display: none;
	}

	li {
		margin-bottom: 8px;
	}

	a {
		background: $gold;
		color: $white;
		@include size(44px);
		border-radius: 50%;
		font-size: 44px;
		display: block;
		line-height: 44px;
		text-align: center;
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);

		.icon-share {
			font-size: 25px;
			line-height: 46px;
			display: block;
		}

		&:hover {
			background: $white;
			color: $black;
		}
	}
}