body {
	@include media('>=desktop') {
		font-size: 16px;
	}
}

img {
	max-width: 100%;
	height: auto;	
	vertical-align: top;
	border: none;
}

a,
button,
input[type="submit"] {
	@include animate(opacity visibility border box-shadow background color);
}

a {
	text-decoration: none;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.holder {
	background: $white;
	max-width: 1280px;
	overflow: hidden;
	margin: 0 auto;
}

.container {
	max-width: 1310px;
	padding: 0 20px;
	margin: 0 auto;
}

.bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	z-index: -1;
}

.banner {
	height: 100vh;
	background: $black;
}

.video-holder {
	padding-top: 43.67%;
	overflow: hidden;
	height: 0;
	position: relative;
	max-width: 956px;
	margin: 0 auto;

	iframe {
		display:inline-block;
		vertical-align:top;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		border: none;
		bottom: 0;
	}
}

.font-serif {
	font-family: $base-font-serif;
}

.btn {
	background: $black;
	color: $white;
	position: relative;
	display:inline-block;
	vertical-align:top;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 4px;
	padding: 20px 20px;
	min-width: 210px;
	border: 1px solid transparent;
	text-align: center;

	&:hover {
		background: lighten($black,10%);
	}

	&.btn-red {
		background: $red;

		&:hover {
			background: darken($red,10%);
		}
	}

	&.btn-outline-red {
		background: none;
		color: $red;
		border-color: $red;

		&:hover {
			background: $red;
			color: $white;
		}
	}

	&.btn-icon {
		min-width: 0;
		padding: 11px 21px 11px 44px;
		font-size: 16px;

		.icon {
			position: absolute;
			left: 19px;
			top: 50%;
			font-size: 21px;
			transform: translateY(-50%);
		}
	}
}

.text-center {
	text-align: center !important;
}

h2 {
	@include media('>=desktop') {
		font-size: 32px;
	}
}

.lds-ring {
	position: absolute;
	top: 50%;
	left: 50%;
	@include size(150px);
	transform: translate(-50%, -50%);
	@include animate(opacity visibility);
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 150px;
	height: 150px;
	border: 14px solid $red;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $red transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.load-holder {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: #f2f2f2;
	bottom: 0;
	z-index: 9999999;
}

html {

	body {
		overflow: hidden;
	}

	&.loaded {
		body {
			overflow-y: auto;
		}

		.load-holder {
			opacity: 0;
			visibility: hidden;
		}
	}
}


.num-list {
	@extend %listreset;
	counter-reset: section;

	li {
		padding-left: 17px;
		position: relative;

		&:before {
			counter-increment: section;
			content: counter(section)".";
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}