#header {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	padding: 25px 20px;
	background: $white;
	z-index: 999;
	max-width: 1280px;
	margin: 0 auto;
	

	@include media('>=desktop') {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	@include media('>=widescreen') {
		padding: 28px 60px;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		
		z-index: 99999;
		@include animate(box-shadow);
		pointer-events: none;
	}

	&.header-fixed {
		position: fixed;
	}

	.nav-active & {
		&:before {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		}
	}
}

.sticky-header {
	position: relative;
}

.logo {
	width: 171px;

	@include media('>=tablet') {
		width: 220px;
	}

	@include media('>=desktop') {
		flex-basis: 220px;
	}

	@include media('>=widescreen') {
		width: 260px;
		flex-basis: 260px;
	}
}

#nav {
	font-size: 18px;
	line-height: 1.13;
	text-align: center;

	@include media('>=desktop') {
		flex: 1;
		text-align: left;
		font-size: 16px;
	}

	@include media('>=widescreen') {
		letter-spacing: 2.4px;
	}
}

.nav-opener{
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 40px;
	z-index: 999;

	@include media('>=desktop') {
		display: none;
	}


	&:before,
	&:after,
	span{
		background: $red;
		position:absolute;
		border-radius: 2px;
		top:50%;
		left:23%;
		right:23%;
		height:2px;
		margin-top:-2px;
		transition:all 0.2s linear;
	}
	&:before,
	&:after{
		content:'';
		top:30%;
	}
	&:after{
		top: 70%;
	}
	&:hover{
		opacity: 0.9;
	}

	.nav-active & {
		span{
			opacity: 0;
		}
		&:before,
		&:after{
			-moz-transform:rotate(45deg);
			-webkit-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			transform:rotate(45deg);
			top:50%;
			left:15%;
			right:15%;
		}
		&:after{
			-moz-transform:rotate(-45deg);
			-webkit-transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
			transform:rotate(-45deg);
		}
	}
}

.nav-drop {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	top: 79px;
	height: calc(100vh - 79px);
	max-height: 0;
	overflow: hidden;
	@include animate(max-height);
	z-index: 99;

	@include media('>=tablet') {
		top: 87px;
		height: calc(100vh - 87px);
	}

	@include media('>=desktop') {
		max-height: none;
		overflow: visible;
		position: static;
		width: auto;
		height: auto;
	}

	.nav-active & {
		max-height: 9999px;
	}

	.nav-wrap {
		transform: translateY(-100%);
		background: $white;
		@include animate(transform);
		height: 100%;
		overflow-y: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		@include media('>=desktop') {
			background: none;
			display: block;
			padding-left: 20px;
			transform: none;	
			height: auto;
			overflow: visible;
		}

		.nav-active & {
			transform: none;
		}
	}

	.nav-hold {
		width: 100%;
		padding: 0 62px;

		@include media('>=desktop') {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			padding: 0;
		}
	}

	.lang {
		@include media('>=desktop') {
			margin-left: 10px;
		}

		@include media('>=widescreen') {
			margin-left: 12px;
		}

		a {
			color: #656565;
			
			&:hover {
				color: $red;		
			}
		}
	}

	ul {
		@extend %listreset;
		margin-bottom: 12px;
		

		@include media('>=desktop') {
			position: relative;
			display: flex;
			margin: 0;
			flex-wrap: wrap;
		}

		&:before {

			@include media('>=desktop') {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 25px;
				background: rgba($black,0.3);
				width: 1px;
				margin-top: 2px;
			}
		}

		li {
			padding-bottom: 30px;

			@include media('>=desktop') {
				padding: 0 10px;
			}

			@include media('>=widescreen') {
				padding: 0 12px;
			}

			&.active {
				> a {
					color: $red;

					@include media('>=desktop') {
						background: none;
						color: $red;
					}
				}
			}
		}
	}

	a {
		display: block;
		color: $black;

		@include media('>=desktop') {
			background: none;
		}

		&:hover {
			color: $red;
		}
	}
}



.resize-active * {
	transition: none !important;
}